        {% load static compress %}

        <!--[if IE 7]><html class="ie ie7"><![endif]-->
        <!--[if IE 8]><html class="ie ie8"><![endif]-->
        <!--[if IE 9]><html class="ie ie9"><![endif]-->

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8; X-Content-Type-Options=nosniff"/>
        <meta name="twitter:card" content="">
        <meta name="twitter:site" content="">
        <meta name="twitter:title" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="author" content="">
        <meta name="keywords" content="{{ meta_keywords }}">
        <meta name="description" content="{{ meta_description }}">
        <meta name="robots" content="noindex,follow">
        <meta rel="canonical" href="">
        <!-- ./meta -->

        {% compress css %}
            <!-- plugins: icons -->
            <link href="{% static "fontawesome/css/all.css" %}" rel="stylesheet">
            <link href="{% static "lineicon/css/simple-line-icons.css" %}" rel="stylesheet">

            <!-- Bootstrap4 files-->
            <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
            <link href="{% static "css/bootstrap.min.css.map" %}" rel="stylesheet">
            <link href="{% static "css/responsive.css" %}" rel="stylesheet" media="only screen and (max-width: 1200px)">

            <!-- Material Design Bootstrap -->
            <link href="{% static "css/mdb.min.css" %}" rel="stylesheet">

            <!-- plugin : ps-icon -->
            <link rel="stylesheet" type="text/css" href="{% static "ps-icon/style.css" %}">

            <!-- plugin : owlcarousel -->
            <link href="{% static "owl/owl.carousel.min.css" %}" rel="stylesheet">

            <!-- plugin : slickslider -->
            <link href="{% static "slick/slick.css" %}" rel="stylesheet">
            <link href="{% static "slick/slick-theme.css" %}" rel="stylesheet">

            <!-- plugin: fancybox  -->
            <link href="{% static "fancybox/fancybox.min.css" %}" type="text/css" rel="stylesheet">

            <!-- custom style -->
            <link href="{% static "css/style.css" %}" rel="stylesheet">

            <style>
                @media (max-width: 740px) {
                    html, body, header{ height: 100vh; }
                }

                @media (min-width: 800px) and (max-width: 850px) {
                    html, body, header{ height: 100vh; }
                }
            </style>
        {% endcompress %}
        <!--[if IE 7]><body class="ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
        <!--[if IE 8]><body class="ie8 lt-ie9 lt-ie10"><![endif]-->
        <!--[if IE 9]><body class="ie9 lt-ie10"><![endif]-->
