        {% load static %}

        <!-- JQuery tooltips -->

            <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
            <!-- Bootstrap4 files-->
            <script type="text/javascript" src="{% static "js/popper.min.js" %}" ></script>
            <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="{% static "js/mdb.min.js" %}"></script>
            <!-- plugin: owl carousel  -->
            <script type="text/javascript" src="{% static "owl/owl.carousel.min.js" %}"></script>
            <!-- plugin: slickslider  -->
            <script type="text/javascript" src="{% static "slick/slick.min.js" %}"></script>
            <!-- plugin: fancybox  -->
            <script type="text/javascript" src="{% static "fancybox/fancybox.min.js" %}"></script>
            <!-- custom js -->
            <script type="text/javascript" src="{% static "js/main.js" %}"></script>
