            {% load i18n static %}

            <style>
                #topbar {
                    background: #555;
                    font-size: 0.9rem;
                }

                #lang { background-color: #f5F5f5; }

                #topbar .offer .btn {
                    letter-spacing: 0.1em;
                }

                #topbar a.login-btn, #topbar a.signup-btn {
                    letter-spacing: 0.1em;
                    font-size: 0.75rem;
                }

                .megamenu {
                    position: static !important;
                }

                .megamenu .dropdown-menu {
                    background: none;
                    border: none;
                    width: 100%;
                }
            </style>

            <div id="topbar lang" class="p-1">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        <!-- navigation icon -->
                        <div class="col-lg-12 text-center text-lg-right">
                            <ul class="menu list-inline mb-0">
                                {% for language in languages %}
                                    <li class="list-inline-item {% if language.code == LANGUAGE_CODE %} active {% endif %}">
                                        <a href="/{{ language.code }}{{ next }}" class="font-weight-normal">
                                            {{ language.name_local }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- topbar-->
            <div id="topbar" class="p-1">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-6 text-center offer mb-2 mb-lg-0 text-white">
                            <a href="#" class="btn btn-success btn-sm text-white">Offer of the day</a>
                            <a href="#" class="ml-1 text-white">Get flat 35% off on orders over $50!</a>
                        </div>

                        <div class="col-lg-6 text-center offer mb-lg-0">
                            <div class="d-flex justify-content-end justify-content-between pt-3">
                                {% if user and not user.is_anonymous %}
                                    <ul class="list-inline d-block d-md-none">
                                        <a class="login-btn text-white">
                                            {% trans "hello" %},  <b class="font-weight-bold text-capitalize">
                                            {{ user.username }}</b>
                                        </a>
                                    </ul>

                                    <div class="login">
                                        <span class="login-btn text-white mr-2">
                                            <span class="login-btn text-white d-none d-md-inline-block">
                                                {% trans "hello" %},
                                                <b class="font-weight-bold text-capitalize">
                                                {{ user.username }}</b>
                                            </span>
                                        </span>

                                        <a href="{% url "accounts:profile" %}" class="login-btn text-white mr-2">
                                            <span class="d-none d-md-inline-block font-weight-bold text-capitalize">
                                                <i class="fa fa-user mr-1"></i>
                                                {% trans "your profile" %}
                                            </span>
                                        </a>

                                        <a href="{% url "panier:detail_panier" %}" class="login-btn text-white font-weight-bold">
                                            <i class="fa fa-shopping-bag mr-1"></i>
                                            {% trans "your orders" %}
                                        </a>
                                    </div>

                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a href="{% url "accounts:logout" %}" class="text-white font-weight-bold text-capitalize">
                                                <i class="fas fa-sign-out-alt mr-1"></i>
                                                <span class="d-none d-xl-inline-block">
                                                    {% trans "logout" %}
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                {% else %}
                                    <div class="login">
                                        <a href="{% url "accounts:profile" %}" class="login-btn text-white mr-2">
                                            <i class="fa fa-user mr-1"></i>
                                            {% trans "your profile" %}
                                        </a>

                                        <a href="{% url "panier:detail_panier" %}" class="login-btn text-white">
                                            <i class="fa fa-shopping-bag mr-1"></i>
                                            {% trans "your orders" %}
                                        </a>
                                    </div>

                                    <ul class="list-inline">
                                        <a href="{% url "accounts:login" %}" class="login-btn text-white mr-2">
                                            <i class="fas fa-sign-in-alt mr-1"></i>
                                            {% trans "login" %}
                                        </a>

                                        <a href="{% url "accounts:register" %}" class="login-btn text-white">
                                            <i class="fas fa-user-plus mr-1"></i>
                                            {% trans "signup" %}
                                        </a>
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--./topbar-->

            <!-- topbar-->
            <div id="lang">
                <div class="container-fluid">
                    <div class="row d-flex align-items-center text-md-center">
                        <div class="col-12">
                            <!-- section service content -->
                            <div class="btn btn-sm shadow-none icon d-inline-flex align-items-center text-left">
                                <div class="text-center icon-wrap icon-sm rounded-circle border-success border text-success d-inline-block position-relative">
                                    <i class="ps-icon-customer-service"></i>
                                </div>

                                <div class="text-wrap d-none d-md-inline-block">
                                    <div class="font-weight-bolder">{% trans "Call us" %}</div>
                                    <small class="d-block">00 000 000 / 00 000 000</small>
                                </div>
                            </div>

                            <div class="btn btn-sm shadow-none icon d-inline-flex align-items-center text-left">
                                <div class="text-center icon-wrap icon-sm rounded-circle border-success border text-success d-inline-block position-relative">
                                    <i class="ps-icon-delivery"></i>
                                </div>

                                <div class="text-wrap d-none d-md-inline-block">
                                    <div class="font-weight-bolder">{% trans "Free delivery" %}</div>
                                    <small class="d-block">{% trans "in less than 24H" %}</small>
                                </div>
                            </div>

                            <div class="btn btn-sm shadow-none icon d-inline-flex align-items-center text-left">
                                <div class="text-center icon-wrap icon-sm rounded-circle border-success border text-success d-inline-block position-relative">
                                    <i class="icon-clock"></i>
                                </div>

                                <div class="text-wrap d-none d-md-inline-block">
                                    <div class="font-weight-bolder">{% trans "Availability" %}</div>
                                    <small class="d-block">{% trans "7 days/7" %}</small>
                                </div>
                            </div>

                            <div class="btn btn-sm shadow-none icon d-inline-flex align-items-center text-left">
                                <div class="text-center icon-wrap icon-sm rounded-circle border-success border text-success d-inline-block position-relative">
                                    <i class="ps-icon-money"></i>
                                </div>

                                <div class="text-wrap d-none d-md-inline-block">
                                    <div class="font-weight-bolder">{% trans "Payment" %}</div>
                                    <small class="d-block">{% trans "in complete security" %}</small>
                                </div>
                            </div>

                            <div class="btn btn-sm shadow-none icon d-inline-flex align-items-center text-left">
                                <div class="text-center icon-wrap icon-sm rounded-circle border-success border text-success d-inline-block position-relative">
                                    <i class="icon-support"></i>
                                </div>

                                <div class="text-wrap d-none d-md-inline-block">
                                    <div class="font-weight-bolder">{% trans "Help" %}</div>
                                    <small class="d-block">{% trans "How to buy ?" %}</small>
                                </div>
                            </div><!-- ./section service content -->
                        </div>
                    </div>
                </div>
            </div><!--./topbar-->

            <!-- Navbar -->
            <nav role="navigation" class="navbar sticky navbar-expand-lg navbar-light white scrolling-navbar shadow-sm">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="container">
                    <!-- Navbar brand -->
                    <a href="{% url "shop:all_produit" %}" class="navbar-brand">
                        <!-- Logo Image -->
                        <i class="fa fa-shopping-cart text-primary fa-1x" class="d-none d-xl-inline-block"></i>
                        <span class="sr-only">{{ site_name }}</span>
                        <!-- Logo Text -->
                    </a><!-- ./Navbar brand -->

                    <div class="btn-navbar">
                        <!-- search -->
                        <button class="navbar-toggler btn btn-sm btn-outline-secondary shadow-none border-0" type="button" data-toggle="collapse" data-target="#search" aria-controls="search"
                            aria-expanded="false">
                            <span class="sr-only">{% trans "search" %}</span>
                            <i class="fa fa-search"></i>
                        </button><!-- ./search -->

                        <!-- shopping -->
                        <a href="{% url "panier:detail_panier" %}" class="navbar-toggler btn btn-sm btn-outline-secondary shadow-none">
                            <i class="icon-bag"></i>
                            <span>
                                {% with total_items=panier|length %}
                                    {% if panier|length > 0  %}
                                        {{ total_items }}
                                    {% else %}
                                        0
                                    {% endif %}
                                {% endwith %}
                            </span>
                        </a><!-- shopping -->
                    </div>

                    <!-- Collapsible content -->
                    <div class="collapse navbar-collapse">
                        <!-- Links left-->
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a href="{% url "shop:all_produit" %}" class="nav-link text-uppercase font-weight-bold">
                                {% trans "home" %}</a>
                            </li><!-- home-->
                        </ul><!-- ./Links left-->

                        <!-- Links right-->
                        <ul class="navbar-nav nav-flex-icons">
                            <div class="collapse navbar-collapse"></div>
                            <a data-toggle="collapse" href="#search" class="btn btn-sm navbar-btn btn-success shadow-sm border-0 d-none d-md-inline-block d-sm-inline-block">
                                <span class="sr-only">search</span><i class="fa fa-search"></i>
                            </a>
                            {% if user and not user.is_anonymous %}
                                <li class="nav-item d-none d-md-inline-block d-sm-inline-block ">
                                    <a class="nav-link" href="{% url "panier:detail_panier" %}">
                                        <i class="icon-bag"></i>
                                        {% trans "cart" %}
                                        <span class="badge badge-pill badge-success shadow-none">
                                            {% with total_items=panier|length %}
                                                {% if panier|length > 0  %}
                                                    {{ total_items }}
                                                {% else %}
                                                    0
                                                {% endif %}
                                            {% endwith %}
                                        </span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="nav-item d-none d-md-inline-block d-sm-inline-block">
                                    <a class="nav-link" href="{% url "panier:detail_panier" %}">
                                        <i class="icon-bag"></i>
                                        {% trans "cart" %}
                                    </a>
                                </li>
                            {% endif %}
                        </ul><!-- ./Links left-->
                    </div><!-- Collapsible content -->
                </div>
            </nav>
            <!--/.Navbar-->

            <div id="search" class="collapse">
                <!-- Search form -->
                <div class="container w-75 my-3">
                    <form role="search" class="mx-auto " action="{% url "shop:search" %}">
                        <div class="input-group">
                            <input class="form-control border shadow-none" type="search" placeholder="{% trans "Search for a product or category" %}" aria-label="search" name="q" autocomplete="false" value="{{ request.GET.q }}">
                            <div class="input-group-append shadow-none">
                                <button class="shadow-none input-group-text btn-success"
                                type="submit"><i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Search form -->
            </div>
