            {% load i18n static %}

            <nav class="navbar navbar-expand-md navbar-dark mdb-color lighten-3 mb-2 mt-1">
                <span class="navbar-brand text-uppercase font-weight-bold">
                    <i class="fa fa-bars"></i>
                    {% trans "category" %}
                </span>
                <!-- ./Navbar brand -->

                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#CollapseBtnNav" aria-controls="CollapseBtnNav" aria-expanded="false"  aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button><!-- ./Collapse button -->

                <!-- Collapse content -->
                <div class="collapse navbar-collapse justify-content-end" id="CollapseBtnNav">
                    <!-- Links -->
                    <ul class="navbar-nav mx-auto">
                        {% for cat in categories %}
                            <li class="nav-item {% if category.slug == cat.slug %} active {% endif %}">
                                <a href="{{ cat.get_absolute_url }}"
                                class="nav-link text-uppercase" title="{{ cat.name }}">
                                    {{ cat.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul><!-- ./Links -->
                </div><!-- ./Collapse content -->
            </nav>
