{% extends "shop/base.html" %}
{% load i18n static humanize %}

<title>
    {% block head_title %}
        {% if categorie %}
            {{ categorie.name }} | {% trans "unsta Inc" %} %}
        {% else %}
            {% trans "unsta Inc" %}
        {% endif %}
    {% endblock head_title %}
</title>

{% block carousel %}
    {% include "_includes/carousel.html" %}
{% endblock carousel %}

{% block content %}
    <style type="text/css">
        .card .img-wrap { overflow: hidden; }

        .card-product:hover {
            outline: 1px solid #aaa;
            --webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, .175);
                box-shadow: 0 4px 8px rgba(0, 0, 0, .175);
        }

        .card-product:after {
            content: "";
            display: table;
            clear: both;
            visibility: hidden;
        }

        .card-product .title {
            font-family: sans-serif;
            margin-top: 0;
            font-size: 14px;
            font-weight: 500;
            color: #5b5b5b;
            line-height: 1.4em;
        }

        .card-product .img-wrap {
            position: relative;
            height: 220px;
        }

        .card-product .info-wrap {
            overflow: hidden;
            padding: 10px;
            margin-bottom: 0;
            min-height: 60px;
            border-top: 1px solid #eee;
        }

        .card-product .img-wrap img {
            max-height: 100%;
            max-width: 100%;
            -o-object-fit: cover;
                object-fit: cover;
        }
        .img-wrap { display: block; }

        .badge-new, .badge-sale {
            position: absolute;
            top: 0.25rem; right: 0.40rem; z-index: 10;
            width: 60px; height: 25px;
            margin-top: 0.25rem;
            background-color: #cf5050;
            color: #efefef; font-size: 16px; font-weight: 500;
        }

        .badge-sale {
            background-color: #cf5055;
        }

        /* section: Category itemside */

        .itemside {
            position: relative;
            display: -webkit-inline-box;
            width: 100%;
        }

        .itemside .text-wrap { padding-left: 15px; padding-right: 7px; }
        .itemside .img-wrap { position: relative; border-radius: 0.25rem 0 0 0.25rem; }
        .itemside img { -o-object-fit: contain; object-fit: contain; }
        .itemside .img-bg {
            -o-object-fit: contain;
            object-fit: contain;
            position: absolute;
            right: 0;
            bottom: 0;
            max-height: 100px;
            z-index: 0;
        }

        .img-sm { -o-object-fit: cover; object-fit: cover; width: 80px; height: 80px; }
        .center-xy {
            top: 50%; left: 50%;
            position: absolute;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        .itemside .card-body {
            position: relative;
            z-index: 3;
        }

        .no-gutters > [class*="col-"] { padding-right: 0.25rem !important;
            padding-left: 0.25rem !important;}
    </style>

    <!--section: Products -->
    <main class="section-product-list mt-1">
        <div class="container">
            <div class="card shadow-sm rounded-0">
                <div class="card-header bg-success text-white font-family font-weight-bolder">
                    <div class="float-left">
                        {% trans "New products" %}
                    </div>
                    <div class="text-right">
                        <a class="text-white" href="{% url "shop:list_categorie" %}" title="">{% trans "View more product" %}
                            <i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="slick-slider mx-3">
                    {% for produit in produits %}
                        <div class="item-slide p-2">
                            <figure class="card-product shadow-none">
                                {% if produit.label == 'N' %}
                                    <span class="
                                        {% if produit.label %}
                                            {{ produit.get_label_display }}
                                        {% endif %} text-center">new
                                    </span>
                                {% endif %}

                                {% if produit.label == 'S' %}
                                    <span class="
                                        {% if produit.label %}
                                            {{ produit.get_label_display }}
                                        {% endif %} text-center">
                                        -30%
                                    </span>
                                {% endif %}

                                <div class="img-wrap text-center">
                                    <img class="d-inline-block w-auto img-fluid" src="{% if produit.image %}{{ produit.image.url }} {% else %} {% static "img/noimage.png" %}{% endif %}" alt="{{ produit.name }}">
                                    <a href="{{ produit.get_absolute_url }}" class="stretched-link"></a>
                                </div>
                                <figcaption class="info-wrap">
                                    <a href="{{ produit.get_absolute_url }}" class="title">
                                    {{ produit.name | truncatewords:3 }}</a>
                                    <span class="text-uppercase d-inline-block">
                                        {{ produit.prix_reduit | floatformat:"0" }} frcfa
                                        <del class="text-muted small ml-1">
                                            {{ produit.prix | floatformat:"0" }} frcfa
                                        </del>
                                    </span>
                                </figcaption>
                            </figure>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main><!--./Section: Products -->

    <!-- section: Category -->
    <section class="section-cat-list my-2">
        <div class="container">
            <div class="card shadow-none border rounded-0">
                <h5 class="card-header bg-success text-white font-family font-weight-bolder">
                    {% trans "Discover our product categories" %}
                </h5>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <figure class="itemside">
                                <div class="aside">
                                    <div class="img-wrap img-sm rounded-circle blue-gradient">
                                        <i class="center-xy fa fa-mobile-alt fa-3x text-white"></i>
                                    </div>
                                </div>
                                <figcaption class="text-wrap">
                                    <h6 class="title mt-3">{% trans "Smartphone" %}</h6>
                                    <a class="stretched-link" href="#">
                                    {% trans "View all" %}</a>
                                </figcaption>
                            </figure>
                        </div><!-- ./col -->

                        <div class="col-md-3">
                            <figure class="itemside">
                                <div class="aside">
                                    <div class="img-wrap img-sm rounded-circle night-fade-gradient">
                                        <i class="center-xy fas fa-shoe-prints fa-2x text-white"></i>
                                    </div>
                                </div>
                                <figcaption class="text-wrap">
                                    <h6 class="title mt-3">{% trans "Shoes" %}</h6>
                                    <a class="stretched-link" href="#">
                                    {% trans "View all" %}</a>
                                </figcaption>
                            </figure>
                        </div><!-- ./col -->

                        <div class="col-md-3">
                            <figure class="itemside">
                                <div class="aside">
                                    <div class="img-wrap img-sm rounded-circle rainy-ashville-gradient">
                                        <i class="center-xy fas fa-tshirt fa-2x text-white"></i>
                                    </div>
                                </div>
                                <figcaption class="text-wrap">
                                    <h6 class="title mt-3">{% trans "T-shirts" %}</h6>
                                    <a class="stretched-link" href="#">
                                    {% trans "View all" %}</a>
                                </figcaption>
                            </figure>
                        </div><!-- ./col -->

                        <div class="col-md-3">
                            <figure class="itemside">
                                <div class="aside">
                                    <div class="img-wrap img-sm rounded-circle winter-neva-gradient">
                                        <i class="center-xy fas fa-utensils fa-2x text-white"></i>
                                    </div>
                                </div>
                                <figcaption class="text-wrap">
                                    <h6 class="title mt-3">{% trans "Utensils" %}</h6>
                                    <a class="stretched-link" href="#">
                                    {% trans "View all" %}</a>
                                </figcaption>
                            </figure>
                        </div><!-- ./col -->
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <figure class="itemside">
                                <div class="aside">
                                    <div class="img-wrap img-sm rounded-circle near-moon-gradient">
                                        <i class="center-xy fa fa-car fa-mobile-phone fa-3x text-white"></i>
                                    </div>
                                </div>
                                <figcaption class="text-wrap">
                                    <h6 class="title mt-3">{% trans "Automobile" %}</h6>
                                    <a class="stretched-link" href="#">
                                    {% trans "View all" %}</a>
                                </figcaption>
                            </figure>
                        </div><!-- ./col -->

                        <div class="col-md-3">
                            <figure class="itemside">
                                <div class="aside">
                                    <div class="img-wrap img-sm rounded-circle deep-blue-gradient">
                                        <i class="center-xy fas fa-tv fa-2x text-white"></i>
                                    </div>
                                </div>
                                <figcaption class="text-wrap">
                                    <h6 class="title mt-3">{% trans "Télévision" %}</h6>
                                    <a class="stretched-link" href="#">{% trans "View all" %}</a>
                                </figcaption>
                            </figure>
                        </div><!-- ./col -->

                        <div class="col-md-3">
                            <figure class="itemside">
                                <div class="aside">
                                    <div class="img-wrap img-sm rounded-circle near-moon-gradient">
                                        <i class="center-xy fa fa-laptop fa-2x text-white"></i>
                                    </div>
                                </div>
                                <figcaption class="text-wrap">
                                    <h6 class="title mt-3">{% trans "Laptop" %}</h6>
                                    <a class="stretched-link" href="#">{% trans "View all" %}</a>
                                </figcaption>
                            </figure>
                        </div><!-- ./col -->

                        <div class="col-md-3">
                            <figure class="itemside">
                                <div class="aside">
                                    <div class="img-wrap img-sm rounded-circle aqua-gradient">
                                        <i class="center-xy fas fa-home fa-2x text-white"></i>
                                    </div>
                                </div>
                                <figcaption class="text-wrap">
                                    <h6 class="title mt-3">{% trans "Home" %}</h6>
                                    <a class="stretched-link" href="#">{% trans "View all" %}</a>
                                </figcaption>
                            </figure>
                        </div><!-- ./col -->
                    </div>
                </div>
            </div>
        </div>
    </section><!-- ./section: Category -->

    <!-- section: Publicité -->
    <section class="section-pub my-2">
        <div class="container">
            <div class="card shadow-none border rounded-0">
                <div class="card-body p-1">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <img class="img-fluid" src="{% static "img/jumia.jpg" %}">
                        </div>

                        <div class="col-md-6">
                            <img class="img-fluid" src="{% static "img/jumia-ordi.jpg" %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- ./section: Publicité -->

    <section class="section-pub my-2">
        <div class="container">
            <div class="card shadow-none border">
                <h5 class="card-header blue-gradient text-white font-family font-weight-bolder">
                    {% trans "Best deals smartphone" %}
                </h5>
                <div class="slick-slider mx-3">
                    {% for produit in produits %}
                        <div class="item-slide p-2">
                            <figure class="card-product shadow-none">
                                <div class="img-wrap text-center">
                                    <img src="{% if produit.image %}{{ produit.image.url }} {% else %} {% static "img/noimage.png" %}{% endif %}" alt="{{ produit.name }}" class="d-inline-block w-auto img-fluid">
                                    <a href="{{ produit.get_absolute_url }}" class="stretched-link"></a>
                                </div>

                                <figcaption class="info-wrap">
                                    <a href="{{ produit.get_absolute_url }}" class="title">
                                    {{ produit.name | truncatewords:3 }}</a>
                                    <span class="text-uppercase d-inline-block">
                                        {{ produit.prix_reduit | floatformat:"0" }} frcfa
                                        <del class="text-muted small ml-1">
                                            {{ produit.prix | floatformat:"0" }} frcfa
                                        </del>
                                    </span>
                                </figcaption>
                            </figure>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="section-pub my-2">
        <div class="container">
            <div class="shadow-none border rounded-0">
                <h5 class="card-header peach-gradient text-white font-family font-weight-bolder">
                    {% trans "Best deals TV &amp; audio" %}
                </h5>
                <div class="slick-slider mx-3">
                    {% for produit in produits %}
                        <div class="item-slide p-2">
                            <figure class="card-product shadow-none">
                                <div class="img-wrap">
                                    <img src="{% if produit.image %}
                                    {{ produit.image.url }} {% else %} {% static "img/noimage.png" %}
                                    {% endif %}" alt="{{ produit.name }}">
                                    <a href="{{ produit.get_absolute_url }}" class="stretched-link"></a>
                                </div>
                                <figcaption class="info-wrap">
                                    <a href="{{ produit.get_absolute_url }}" class="title">
                                    {{ produit.name | truncatewords:3 }}</a>
                                    <span class="text-uppercase d-inline-block">
                                        {{ produit.prix_reduit | floatformat:"0" }} frcfa
                                        <del class="text-muted small ml-1">
                                            {{ produit.prix | floatformat:"0" }} frcfa
                                        </del>
                                    </span>
                                </figcaption>
                            </figure>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="section-pub my-2">
        <div class="container">
            <div class="card shadow-none border rounded-0">
                <h5 class="card-header bg-white text-black font-family">
                    {% trans "Recently viewed articles" %}
                </h5>
                <div class="slick-slider mx-3">
                    {% for produit in produits %}
                        <div class="item-slide p-2">
                            <figure class="card-product shadow-none">
                                <div class="img-wrap">
                                    <img src="{% if produit.image %}
                                    {{ produit.image.url }} {% else %} {% static "img/noimage.png" %}
                                    {% endif %}" alt="{{ produit.name }}">
                                    <a href="{{ produit.get_absolute_url }}" class="stretched-link"></a>
                                </div>
                                <figcaption class="info-wrap">
                                    <a href="{{ produit.get_absolute_url }}" class="title">
                                    {{ produit.name | truncatewords:3 }}</a>
                                    <span class="text-uppercase d-inline-block">
                                        {{ produit.prix_reduit | floatformat:"0" }} frcfa
                                        <del class="text-muted small ml-1">
                                            {{ produit.prix | floatformat:"0" }} frcfa
                                        </del>
                                    </span>
                                </figcaption>
                            </figure>
                        </div>
                    {% endfor %}

                    <div class="item-slide p-2">
                        <figure class="card card-product border">
                            <span class="badge-new d-block text-white bg-danger">new</span>
                            <div class="img-wrap">
                                <img src="{% static "img/items/3.jpg" %}" alt="">
                                <a href="#" class="stretched-link"></a>
                            </div>
                            <figcaption class="info-wrap">
                                <a href="#" class="title">{% trans "Good item name" %}</a>
                                <div class="pt-1 mt-2">
                                    <div class="mr-5">
                                        <span>$1280</span><br>
                                        <del class="text-muted">$1980</del>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
