            {% load i18n static shop_tags humanize %}
            <style type="text/css">
                .badge-new, .badge-sale {
                    position: absolute;
                    top: 0.25rem; z-index: 10;
                    width: 60px; height: 25px;
                    margin-top: 0.25rem;
                    background-color: #cf5050;
                    color: #efefef; font-size: 16px; font-weight: 500;
                }

                .badge-sale {
                    background-color: #cf5055;
                }

                .l-container .l-container-img >:first-child {
                    position: relative; display: block;
                }

                .l-container:hover {
                    outline: 1px solid #aaa;
                    -moz-outline-radius: 5px;
                }

                .l-container .l-container-img .l-container-tags {
                    top: 0; right: 0; vertical-align: inherit; border-width: 0; direction: rtl;
                }
                .l-container .l-container-img .l-container-tags > .l-container-label-tags {
                    margin: 1px 0 0 0; opacity: .92; direction: ltr;
                }
            </style>
            <!--Grid row produit recommandé -->
            <div class="row justify-content-center">
                {% for produit in similar_products %}
                    <div class="col-3 col-sm-4 l-container my-2">
                        <div class="l-container-product p-2">
                            <div class="l-container-img position-relative overflow-hidden text-center">
                                <a href="{{ produit.get_absolute_url }}" class="{{ produit.get_absolute_url }}">
                                    <img src="{% if produit.image %}{{ produit.image.url }} {% else %} {% static "img/noimage.png" %}{% endif %}" alt="{{ produit.name }}"
                                    class="card-img-top img-fluid">
                                    <a href="{{ produit.get_absolute_url }}" class="stretched-link"></a>
                                </a>

                                <a href="{{ produit.get_absolute_url }}" class="text-dark small font-weight-normal">
                                    {{ produit.name| safe |truncatewords:6 }}
                                </a>
                                <span class="text-uppercase small d-inline-block">
                                    {{ produit.prix_reduit | floatformat:0 | upper }} fcfa
                                    <del class="text-muted small ml-1">
                                        {{ produit.prix | floatformat:0 | upper }} fcfa
                                    </del>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
