{% extends "shop/base.html" %}
{% load i18n static shop_tags humanize %}

{% block carousel %}
    {% include "_includes/carousel.html" %}
{% endblock carousel %}

{% block content %}
    <style type="text/css">
        .card .img-wrap { overflow: hidden; }

        .card-product:hover {
            outline: 1px solid #aaa;
            --webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, .175);
                box-shadow: 0 4px 8px rgba(0, 0, 0, .175);
        }

        .card-product:after {
            content: "";
            display: table;
            clear: both;
            visibility: hidden;
        }

        .card-product .title {
            font-family: sans-serif;
            margin-top: 0;
            font-size: 14px;
            font-weight: 500;
            color: #5b5b5b;
            line-height: 1.4em;
        }

        .card-product .img-wrap {
            position: relative;
            height: 220px;
        }

        .card-product .info-wrap {
            overflow: hidden;
            padding: 10px;
            margin-bottom: 0;
            min-height: 60px;
            border-top: 1px solid #eee;
        }

        .card-product .img-wrap img {
            max-height: 100%;
            max-width: 100%;
            -o-object-fit: cover;
                object-fit: cover;
        }

        .badge-new, .badge-sale {
            position: absolute;
            top: 0.25rem; right: 0.40rem; z-index: 10;
            width: 60px; height: 25px;
            margin-top: 0.25rem;
            background-color: #cf5050;
            color: #efefef; font-size: 16px; font-weight: 500;
        }

        .badge-sale {
            background-color: #cf5055;
        }

        /* section: Category itemside */

        .itemside {
            position: relative;
            display: -webkit-inline-box;
            width: 100%;
        }

        .itemside .img-wrap { position: relative; border-radius: 0.25rem 0 0 0.25rem; }
        .itemside img { -o-object-fit: contain; object-fit: contain; }

        .img-sm { -o-object-fit: cover; object-fit: cover; width: 80px; height: 80px; }
        .center-xy {
            top: 50%; left: 50%;
            position: absolute;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        .itemside .card-body {
            position: relative;
            z-index: 3;
        }

        .no-gutters > [class*="col-"] { padding-right: 0.25rem !important;
            padding-left: 0.25rem !important;}
    </style>

    <!--section: recent products list -->
    <main class="section-product-list mt-1">
        <div class="container">
            <div class="card shadow-sm rounded-0">
                <div class="card-header bg-success text-white font-family font-weight-bolder">
                    <div class="float-left">
                        {% trans "New products" %}
                    </div>
                    <div class="text-right">
                        <a class="text-white" href="{% url "shop:all_categorie" %}">
                            {% trans "View more product" %}
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <div class="slick-slider mx-3">
                    <!-- liste des derniers 8 articles -->
                    {% show_latest_products 8 %}
                </div>
            </div>
        </div>
    </main><!--./Section: Products -->

    <!-- section: all category list -->
    <section class="section-cat-list my-2">
        <div class="container">
            <div class="card shadow-none border rounded-0">
                <h5 class="card-header bg-success text-white font-family font-weight-bolder">
                    {% trans "Discover our product categories" %}
                </h5>
                <!-- ./section: liste des categories -->
                <div class="card-body">
                    {% include "shop/produit/shop_category_list.html" %}
                </div>
            </div>
        </div>
    </section><!-- ./section: Category -->

    <!-- section: Publicité -->
    <section class="section-pub my-2">
        <div class="container">
            <div class="card shadow-none border rounded-0">
                <div class="card-body p-1">
                    <div class="row no-gutters">
                        <div class="col-6 col-lg-6">
                            <img class="img-fluid" src="{% static "img/jumia.jpg" %}">
                        </div>

                        <div class="col-6 col-lg-6">
                            <img class="img-fluid" src="{% static "img/jumia-ordi.jpg" %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- ./section: Publicité -->

    <section class="section-pub my-2">
        <div class="container">
            <div class="card shadow-none border">
                <h5 class="card-header blue-gradient text-white font-family font-weight-bolder">
                    {% trans "Best deals smartphone" %}
                </h5>
                <div class="slick-slider mx-3">
                    {% for produit in produits %}
                        <div class="item-slide p-2">
                            <figure class="card-product shadow-none">
                                <div class="img-wrap d-block text-center">
                                    <img src="{% if produit.image %}{{ produit.image.url }} {% else %} {% static "img/noimage.png" %}{% endif %}" alt="{{ produit.name }}" class="d-inline-block w-auto img-fluid">
                                    <a href="{{ produit.get_absolute_url }}" class="stretched-link"></a>
                                </div>

                                <figcaption class="info-wrap">
                                    <a href="{{ produit.get_absolute_url }}" class="title">
                                    {{ produit.name | truncatewords:5 }}</a>
                                    <span class="text-uppercase d-inline-block">
                                        {% if produit.prix_reduit > produit.prix %}
                                            {{ produit.prix|floatformat:0 }}
                                        {% else %}
                                            {{ produit.prix_reduit|floatformat:0 }}
                                        {% endif %} fcfa

                                        <del class="text-muted small ml-1">
                                            {% if produit.prix_reduit > produit.prix %}
                                                {{ produit.prix_reduit|floatformat:0 }}
                                            {% else %}
                                                {{ produit.prix|floatformat:0 }}
                                            {% endif %} fcfa
                                        </del>
                                    </span>
                                </figcaption>
                            </figure>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="section-pub my-2">
        <div class="container">
            <div class="card shadow-none border rounded-0">
                <h5 class="card-header peach-gradient text-white font-family font-weight-bolder">
                    {% trans "Best deals TV &amp; audio" %}
                </h5>
                <div class="slick-slider mx-3">
                    {% for produit in produits %}
                        <div class="item-slide p-2">
                            <figure class="card-product shadow-none">
                                <div class="img-wrap d-block text-center">
                                    <img src="{% if produit.image %}
                                    {{ produit.image.url }} {% else %} {% static "img/noimage.png" %}
                                    {% endif %}" alt="{{ produit.name }}">
                                    <a href="{{ produit.get_absolute_url }}" class="stretched-link"></a>
                                </div>
                                <figcaption class="info-wrap">
                                    <a href="{{ produit.get_absolute_url }}" class="title">
                                    {{ produit.name | truncatewords:5 }}</a>
                                    <span class="text-uppercase d-inline-block">
                                        {% if produit.prix_reduit > produit.prix %}
                                            {{ produit.prix|floatformat:0 }}
                                        {% else %}
                                            {{ produit.prix_reduit|floatformat:0 }}
                                        {% endif %} fcfa

                                        <del class="text-muted small ml-1">
                                            {% if produit.prix_reduit > produit.prix %}
                                                {{ produit.prix_reduit|floatformat:0 }}
                                            {% else %}
                                                {{ produit.prix|floatformat:0 }}
                                            {% endif %} fcfa
                                        </del>
                                    </span>
                                </figcaption>
                            </figure>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="section-pub my-2">
        <div class="container">
            <div class="card shadow-none border rounded-0">
                <h5 class="card-header bg-white text-black font-family">
                    {% trans "Recently viewed articles" %}
                </h5>
                <div class="slick-slider mx-3">
                    {% for produit in produits %}
                        <div class="item-slide p-2">
                            <figure class="card-product shadow-none">
                                <div class="img-wrap d-block text-center">
                                    <img src="{% if produit.image %}
                                    {{ produit.image.url }} {% else %} {% static "img/noimage.png" %}
                                    {% endif %}" alt="{{ produit.name }}">
                                    <a href="{{ produit.get_absolute_url }}" class="stretched-link"></a>
                                </div>
                                <figcaption class="info-wrap">
                                    <a href="{{ produit.get_absolute_url }}" class="title">
                                    {{ produit.name | truncatewords:3 }}</a>
                                    <span class="text-uppercase d-inline-block">
                                        {% if produit.prix_reduit > produit.prix %}
                                            {{ produit.prix|floatformat:0 }}
                                        {% else %}
                                            {{ produit.prix_reduit|floatformat:0 }}
                                        {% endif %} fcfa

                                        <del class="text-muted small ml-1">
                                            {% if produit.prix_reduit > produit.prix %}
                                                {{ produit.prix_reduit|floatformat:0 }}
                                            {% else %}
                                                {{ produit.prix|floatformat:0 }}
                                            {% endif %} fcfa
                                        </del>
                                    </span>
                                </figcaption>
                            </figure>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
