/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {height: 100%; }

#lang, #header { background-color: #f5F5f5; }

.header-ctn { padding: 15px 0px; }

.header-search form .input {
  width: calc(100% - 260px);
}

.input {
  height: 40px;
  background-color: #FFF;
  border-radius: 40px 0px 0px 40px;
}

.header-search form .search-btn {
  background: #D10024;
  font-weight: 700;
  border-radius: 0px 40px 40px 0px;
}

.header-ctn > div {
  display: inline-block;
}
.header-ctn > div + div { margin-left: 15px; }
.header-ctn > div > a {
  display: block;
  position: relative;
  width: 90px; text-align: center;
}
.header-ctn > div > a > i {
  display: block;
  font-size: 18px;
}
.header-ctn > div > a > span {
  font-size: 12px;
}
.header-ctn > div > a >.cart-quantity {
  position: absolute;
  right: 15px;
  top: -10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  border-radius: 50%;
  font-size: 10px;
  background: #D10024;
}

#topbar {
  font-size: 0.9rem;
  background-color: #1E1F29;
}

#topbar .offer .btn {
  letter-spacing: 0.1em;
}


#topbar a.login-btn, #topbar a.signup-btn {
  letter-spacing: 0.1em;
  font-size: 0.75rem;
}

.icon-sm {
  width: 42px;
  height: 42px;
  line-height: 42px;
  font-size: 22px;
}

.icon .text-wrap {
  line-height: 1.2;
  padding-left: 10px;
}

/* Adjustment for mobile devices*/


/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #929FBA; }

/* Within style tags in your html file */
* { box-sizing: border-box; }

@media only screen and (max-width: 480px) {

}
@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 991px) {
  .header-logo .logo {
    display: inline-block;
  }
}

@media only screen and (max-width: 1201px) {}
