{% extends "base.html" %}
{% load i18n static %}

{% block carousel %}{% endblock carousel %}

{% block content %}
    <main class="py-4">
        <div class="container">
            <div class="row shadow-none justify-content-center">
                <!-- resume card -->
                <aside class="col-md-3 order-md-2 mb-4">
                    <!-- Heading -->
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">
                            {% trans "your order" %}
                            <small class="font-weight-bold">
                                ({% with total_items=panier|length %}
                                    {% if panier|length > 0 %}{{ total_items }}{% endif %}
                                    {% trans "article" %}{{ total_items|pluralize }}
                                {% endwith %} )
                            </small>
                        </span>
                    </h4><!-- ./Heading -->

                    <!-- Cart -->
                    <ul class="list-group rounded-sm mb-3">
                        {% for item in panier %}
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0 font-weight-bold text-capitalize small">
                                        {{ item.produit.name|safe }}
                                    </h6>
                                    <small class="text-success font-weight-bold text-uppercase">
                                        {{ item.prix_total|floatformat:0|safe }} fcfa
                                    </small><br>
                                    <small class="text-muted">
                                        {% trans "Quantity" %}:
                                        <strong class="font-weight-bold">{{ item.quantite|safe }}</strong>
                                    </small>
                                </div>
                                <span>
                                    <img src="{% if item.produit.image %}{{ item.produit.image.url }} {% else %}{% static "img/cart.png" %}{% endif %}" alt="{{ item.produit.name|safe}}" width="70" class="float-right">
                                </span>
                            </li>
                        {% endfor %}
                        {% if panier.coupon %}
                            <li class="list-group-item d-flex justify-content-between bg-light">
                                {% with code=panier.coupon.code discount=panier.coupon.discount %}
                                    <div class="text-success">
                                        <h6 class="my-0">{% trans "Promo code" %}</h6>
                                        <small>"{{ code|safe }}"</small>
                                    </div>
                                    <span class="text-success">-{{ panier.get_discount|floatformat:0|safe }}</span>
                                {% endwith %}
                            </li>
                        {% endif %}
                        <li class="list-group-item d-flex justify-content-between">
                            <span class="text-uppercase font-weight-bold">
                                {% trans "total" %} (frcfa)
                            </span>
                            <span class="h5 text-uppercase font-weight-bold text-success">
                                {{ panier.get_cout_total_apres_discount|floatformat:0|safe }}
                            </span>
                        </li>
                    </ul><!-- ./Cart -->

                    <div class="card shadow-none p-2 text-center text-uppercase font-weight-bold">
                        <a href="{% url "panier:detail_panier" %}" class="text-success">
                        {% trans "back to shopping cart" %}</a>
                    </div>
                </aside>

                <!-- checkout form -->
                <div class="col-md-7 order-md-1">
                    <h4 class="mb-3 text-uppercase">
                        <span class="text-muted small">{% trans "finalization of the order" %}</span>
                    </h4>

                    <div class="card shadow-sm border">
                        <div class="card-header text-uppercase bg-transparent">
                            {% trans "address" %}
                        </div>
                        <form method="POST" class="card-body needs-validation">
                            {% csrf_token %}
                            <!-- Grid row -->
                            <div class="row px-3 justify-content-center">
                                <div class="col-md-6 mb-2">
                                    <div class="md-form form-group">
                                        {{ formulaire.last_name.label_tag }}
                                        {{ formulaire.last_name }}
                                        {{ formulaire.last_name.errors }}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="md-form form-group">
                                        {{ formulaire.first_name.label_tag }}
                                        {{ formulaire.first_name }}
                                        {{ formulaire.first_name.errors }}
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="md-form form-group">
                                        {{ formulaire.telephone.label_tag }}
                                        {{ formulaire.telephone }}
                                        {{ formulaire.telephone.errors }}
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="md-form form-group">
                                        {{ formulaire.adresse.label_tag }}
                                        {{ formulaire.adresse }}
                                        {{ formulaire.adresse.errors }}
                                    </div>
                                </div>

                                <div class="col-md-12 mb-4">
                                    <div class="form-group">
                                        <label class="text-muted" for="{{ formulaire.ville.id_for_label }}">
                                            {{ formulaire.ville.label_tag }}
                                        </label>
                                        {{ formulaire.ville }}
                                        {{ formulaire.ville.errors }}
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <small class="text-muted text-success">
                                        {% trans "*Field required" %}
                                    </small>
                                    <button class="my-2 btn btn-success btn-md btn-block shadow-none" type="submit">{% trans "confirm" %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!--./Grid column-->
            </div>
        </div>
    </main>
{% endblock content %}
