{% extends "shop/base.html" %}
{% load i18n static %}

{% block our_head %}
    <style>
        .asteriskField {display: none;}
    </style>
{% endblock our_head %}

<title>
    {% block head_title %}
        {% trans "register" %} | unsta inc
    {% endblock head_title %}
</title>


{% block carousel %}
{% endblock carousel %}

{% block content %}
   <!-- Main product Layout View -->
    <main>
        <div class="container wow fadeIn mt-5 w-75">
            <!-- Grid row -->
            <section class="contact-section">
                <form method="POST">
                    <div class="text-left mx-2">
                        <h3 class="dark-grey-text">{% trans "create an account" %}</h3>
                    </div>
                    <div class="form-row">
                        {% for field in form %}
                            <div class="col-md-6 mb-2">
                                <div class="md-form form-group mx-2">
                                    <label for="{{ field.id_for_label }}">
                                        {{ field.label }}
                                    </label>
                                    {{ field }}

                                    {% if field.help_text %}
                                        <small>{{ field.help_text }}</small>
                                    {% endif %}

                                    {% for error in field.errors %}
                                        <small>{{ error }}</small>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% csrf_token %}
                    <button class="btn btn-success btn-block text-uppercase mb-3 rounded-pill shadow-sm" type="submit">{% trans "sign up" %}
                    </button>
                </form>

                <div class="pt-3 mb-1 mx-2">
                    <p class="font-small grey-text">
                        {% trans "already have an account ?" %}
                        <a href="{% url "accounts:login" %}" class="dark-grey-text font-weight-bold ml-1">
                        {% trans "login" %}</a>
                    </p>
                </div>
            </section><!-- ./Grid row -->
        </div>
    </main><!-- ./Main product Layout View -->
{% endblock content %}
