{% extends "./register.html" %}
{% load i18n static %}

<title>
    {% block head_title %}
        {% trans "password reset confirm" %} | unsta inc
    {% endblock head_title %}
</title>

{% block content %}
   <!-- Main product Layout View -->
    <main>
        <div class="container dark-grey-text mt-2">
            <!-- Grid row -->
            <section class="content-section">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">
                            {% trans "reset password" %}
                        </legend>
                        {{ form }}
                    </fieldset>

                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">
                        {% trans "reset password" %}</button>
                    </div>
                </form>
            </section><!-- ./Grid row -->
        </div>
    </main><!-- ./Main product Layout View -->
{% endblock content %}
