{% extends "./accounts_register.html" %}
{% load i18n static %}

<title>
    {% block head_title %}
        {% trans "password reset done" %} | unsta inc
    {% endblock head_title %}
</title>

{% block content %}
   <!-- Main product Layout View -->
   <main>
    <div class="container dark-grey-text mt-2">
      <!-- Grid row -->
      <section class="content-section">
        <div class="border-top alert alert-info pt-3">
          {% trans "an email has been sent with instructions to reset your password" %}
        </div>
      </section><!-- ./Grid row -->
    </div>
  </main><!-- ./Main product Layout View -->
{% endblock content %}
