{% extends "./accounts_register.html" %}
{% load i18n static %}

<title>
    {% block head_title %}
        {% trans "password reset complete" %} | unsta inc
    {% endblock head_title %}
</title>

{% block content %}
   <!-- Main product Layout View -->
   <main>
    <div class="container dark-grey-text mt-2">
      <!-- Grid row -->
      <section class="content-section">
        <div class="border-top alert alert-info pt-3">
          {% trans "your password has been set." %}
        </div>
        <a href="{% url "accounts:login" %}" class="">sign in here</a>
      </section><!-- ./Grid row -->
    </div>
  </main><!-- ./Main product Layout View -->
{% endblock content %}
