{% extends "./register.html" %}
{% load i18n static %}

<title>
    {% block head_title %}
        {% trans "profile" %} | unsta inc
    {% endblock head_title %}
</title>

{% block content %}
    <style>
        .list-group-item {border: none !important;}
        .list-group-item.active {background-color: #f8f9fa !important;border-color: #fff !important;}
    </style>
   <!-- Main product Layout View -->
    <main class="mt-2 pb-5">
        <div class="container">
            <div class="row py-5 p-4 justify-content-center">
                <div class="col-lg-3">
                    <nav class="nav list-group rounded shadow-sm" id="list-tab" role="tablist">
                        <a href="#account" class="list-group-item list-group-item-action text-dark text-capitalize px-3 active" id="account-content" data-toggle="list" role="tab" aria-controls="account-content">
                            <i class="far fa-user mr-2"></i>
                            {% trans "your account" %}
                        </a>

                        <a href="#orders" class="list-group-item list-group-item-action text-dark text-capitalize px-3" id="orders-content" data-toggle="list" role="tab" aria-controls="orders-content">
                            <i class="fa fa-shopping-bag mr-2"></i>
                            {% trans "your orders" %}
                        </a>

                        <a href="#" class="nav-link text-dark text-capitalize px-3">
                            <i class="far fa-heart mr-2"></i>
                            {% trans "your wishlist" %}
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="nav-link text-dark text-capitalize px-3">
                            {% trans "personal information" %}
                        </a>
                        <a href="#" class="nav-link text-dark text-capitalize px-3">
                            {% trans "adress" %}
                        </a>
                        <a href="#" class="nav-link text-dark text-capitalize px-3">
                            {% trans "change your password" %}
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="nav-link text-danger font-weight-bold text-uppercase text-center px-3">
                            {% trans "logout" %}
                        </a>
                    </nav>
                </div><!-- /.col-lg-4-->

                <div class="col-lg-8 shadow-sm rounded">
                    <div class="p-2 tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-content">
                            <div class="h4 pb-2 text-capitalize">{% trans "your account" %}</div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card shadow-none border rounded">
                                        <div class="card-header text-uppercase">
                                            {% trans "personal information" %}
                                        </div>
                                        <div class="card-body">
                                            <p class="card-subtitle text-capitalize">
                                                {{ user.get_full_name }}
                                            </p>
                                            <p class="text-muted small">{{ user.email }}</p>

                                            <a href="#" class="card-title text-success text-uppercase">
                                                {% trans "change your password" %}
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="card shadow-none border rounded">
                                        <div class="card-header text-uppercase">
                                            {% trans "address" %}
                                        </div>
                                        <div class="card-body">
                                            <p class="card-subtitle h5 text-capitalize">
                                            {% trans "default address" %} :</p>
                                            <p class="text-muted text-capitalize">
                                                {{ user.get_full_name }}
                                            </p>

                                            <p class="text-muted text-capitalize">
                                                {{ ip }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade show" id="orders" role="tabpanel" aria-labelledby="orders-content">
                            <div class="h4 pb-2 text-capitalize">{% trans "your orders" %}</div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card shadow-none border rounded">
                                        <div class="card-body">
                                            <ul class="list-unstyled">
                                                <li class="media">
                                                    <img class="mr-3 img-fluid d-inline-block w-25" src="{% static "img/cart.png" %}">
                                                    <div class="media-body">
                                                        <h5 class="mt-0 mb-1">{% lorem 5 w random %}</h5>
                                                        <p>{% lorem 8 w random %}</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.col-lg-7-->
            </div>
        </div>
    </main>
{% endblock content %}
