    {% load i18n static %}

    <style type="text/css">
      .breadcrumb { background-color: #fff !important;
        border-radius: 0 !important; border-bottom: 1px solid #eee; }
      .breadcrumb-item + .breadcrumb-item::before { content: ">" !important;}
    </style>

    <div class="mt-1 small">
      <!-- breadcrumb-->
      <nav aria-label="breadcrumb border-bottom">
        <ol class="breadcrumb">
          <li class="breadcrumb-item font-weight-normal">
            <a class="text-muted" href="{% url "shop:all_produit" %}">
              {% trans "Home" %}
            </a>
          </li>
          <li class="breadcrumb-item font-weight-normal">
            {% trans "categor" %}{{ categories.count|pluralize:"y,ies" }}:
              {% for cat in categories %}
                <a class="text-muted" href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
                {% if not forloop.last %}, {% endif %}
              {% endfor %}
          </li>
          <li aria-current="page" class="breadcrumb-item active">
          {{ produit.name | truncatewords:"12" }}</li>
        </ol>
      </nav>
    </div>
