                {% load i18n static humanize %}

                <!--section: sidebar categories listing -->
                <aside class="col-md-3 col-lg-3 col-sm-12 shadow-none text-dark mb-3">
                    <div class="shadow-none border-0">
                        <div class="l-sidebar-menu">
                            <div class="l-sb-heading">
                                <h3 class="h4 l-container-title mt-1 d-inline-block mb-0 pb-2 text-uppercase font-weight-bold">{% trans "category" %}</h3>
                            </div>
                            <div class="l-container-body">
                                <ul class="nav nav-pills flex-column text-sm category-menu">
                                    <li class="nav-item">
                                        <ul class="nav nav-pills flex-column category-listing">
                                            {% for cat in active_categories %}
                                                <li class="nav-item">
                                                    <a href="{{ cat.get_absolute_url }}" class="nav-link">
                                                        {{ cat.name | truncatewords:4 }}
                                                        <span class="badge badge-light shadow-sm float-right">
                                                            {{ cat.get_cat_count }}
                                                        </span>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="l-sidebar-menu my-3">
                            <div class="l-sb-heading">
                                <h3 class="h4 l-container-title mt-1 d-inline-block mb-0 pb-2 text-uppercase font-weight-bold">{% trans "marques" %}</h3>
                            </div>
                            <div class="l-container-body">
                                <ul class="nav nav-pills flex-column text-sm category-menu">
                                    <li class="nav-item">
                                        <ul class="nav nav-pills flex-column category-listing">
                                            {% for cat in active_categories %}
                                                <li class="nav-item">
                                                    <a href="{{ cat.get_absolute_url }}" class="nav-link">
                                                        {{ cat.name|truncatewords:4 }}
                                                        <span class="badge badge-light shadow-sm float-right">
                                                            {{ cat.get_cat_count }}
                                                        </span>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside><!-- ./section: sidebar categories listing -->
