{% extends "shop/base.html" %}
{% load i18n static %}

<title>
    {% block head_title %}
        {% trans "Shopping cart" %} | {% trans "unsta Inc" %}
    {% endblock head_title %}
</title>

{% block carousel %}
{% endblock carousel %}

{% block content %}
    <!--Main layout-->
    <style type="text/css">
        .empty-cart .empty-cart-content i {
            height: 165px; width: 165px; border-radius: 50%;
            border: 1px solid #d0d0d0; font-size: 72px; line-height: 150px;
        }

        .empty-cart .empty-cart-content h3 {
            font-size: 24px; color: #0b1033; font-weight: 600;
            letter-spacing: .60px; padding: 30px 0px 15px 0px;
        }

        .empty-cart .empty-cart-content h4 {
            font-size: 14px; color: #666;
        }
    </style>
    <main class="mt-1 pb-5">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Grid column -->
                {% if panier %}
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-10 p-3 bg-white rounded shadow-none mb-auto">
                                <!-- .shopping cart table-->
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="border-bottom">
                                            <tr>
                                                <th class="border-0" scope="col">
                                                    <div class="p-2 px-3 text-uppercase font-weight-bolder">{% trans "Product" %}</div>
                                                </th>

                                                <th class="border-0" scope="col">
                                                    <div class="py-2 text-uppercase font-weight-bolder">{% trans "Quantity" %}</div>
                                                </th>

                                                <th class="border-0" scope="col">
                                                    <div class="py-2 text-uppercase font-weight-bolder">{% trans "Price" %}</div>
                                                </th>

                                                <th class="border-0" scope="col">
                                                    <div class="py-2 text-uppercase font-weight-bolder">
                                                        {% trans "Sub total" %}
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            {% for element in panier %}
                                                {% with produit=element.produit %}
                                                    <tr>
                                                        <th scope="row" class="border-0">
                                                            <div class="p-1">
                                                                <img src="{% if produit.image %}{{ produit.image.url }} {% else %}{% static "img/cart.png" %}{% endif %}" alt="{{ produit.name|safe}}" width="70" class="img-fluid rounded shadow-none">
                                                                <div class="ml-2 d-inline-block align-middle">
                                                                    <h5 class="mb-0">
                                                                        <a href="{{ produit.get_absolute_url }}" class="text-dark d-inline-block align-middle font-weight-bold h6">
                                                                            {{ produit.name | truncatewords:4 }}
                                                                        </a>
                                                                    </h5>
                                                                    <span class="text-muted font-weight-normal font-italic d-block">{% trans "Category" %}:
                                                                        <a href="{% url "shop:list_categorie" %}">
                                                                        {{ produit.categorie.name }}</a>
                                                                    </span>

                                                                    <span class="font-weight-bold text-uppercase small d-block mt-1">
                                                                        <a href="{% url "panier:enlever_panier" produit.id %}" class="text-danger">
                                                                            <i class="fa fa-trash mr-1"></i>
                                                                            {% trans "delete" %}
                                                                        </a>

                                                                        <a href="#" class="ml-3 text-danger">
                                                                            <i class="far fa-heart"></i>
                                                                            {% trans "add to favorite" %}
                                                                        </a>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <td class="border-0 align-middle">
                                                            <form action="{% url "panier:ajout_panier" produit.id %}" class="form-inline" method="post" novalidate>
                                                                {{ element.form_update_quantite.quantite }}
                                                                {{ element.form_update_quantite.update }}
                                                                {% csrf_token %}
                                                                <button type="submit" class="btn btn-sm p-0 shadow-none">
                                                                    <i class="fas fa-redo text-left text-success font-weight-bold" aria-hidden="true"></i>
                                                                </button>
                                                            </form>
                                                        </td>
                                                        <td class="border-0 align-middle">
                                                            <strong>{{ produit.prix|floatformat:"0" }}
                                                            </strong>
                                                        </td>
                                                        <td class="border-0 align-middle font-weight-bold text-success text-uppercase">
                                                            {% if element.prix_total %}
                                                                {{ element.prix_total|floatformat:"0" }} frcfa
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endwith %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div> <!-- ./shopping cart table-->
                            </div>
                        </div>

                        <div class="row py-5 p-4 justify-content-center bg-white rounded shadow-none">
                            <div class="col-lg-5">
                                <div class="bg-light rounded-pill px-4 py-2 text-uppercase font-weight-bold">
                                    {% trans "coupon code" %}
                                </div>
                                <div class="p-3">
                                    <p class="font-italic mb-4">
                                    {% trans "If you have a coupon code, please enter it in the box below" %}</p>

                                    <form action="{% url "coupons:appliquer_le_coupon" %}" method="post">
                                        <div class="md-form input-group input-group-sm mb-4 border rounded-pill">
                                            {{ formulaire.errors }}
                                            {{ appliquer_le_coupon.code }}
                                            <div class="input-group-append border-0">
                                                {% csrf_token %}
                                                <button id="btnCoupon" class="input-group-text btn btn-success px-3 rounded-pill shadow-none">
                                                    <i class="fa fa-gift mr-2"></i>{% trans "Apply coupon" %}
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="bg-light rounded-pill px-4 py-2 text-uppercase font-weight-bold">
                                    {% trans "Instruction for seller" %}
                                </div>
                                <div class="p-3">
                                    <p class="font-italic mb-4">{% trans "If you have some informattion for the seller you can leave theme in the box below" %}</p>
                                    <textarea name="" cols="30" rows="2" class="form-control shadow-none"></textarea>
                                </div>
                            </div>

                            <div class="col-lg-5">
                                <div class="bg-light rounded-pill px-4 py-2 text-uppercase font-weight-bold">
                                {% trans "Order sommary" %}</div>
                                <div class="p-3">
                                    <p class="font-italic mb-3">{% trans "Shipping and additionnal costs are calculated based on values you have entered." %}</p>
                                    <ul class="list-unstyled mb-4">
                                        <li class="d-flex justify-content-between py-3 border-bottom">
                                            <strong class="text-muted">{% trans "Sub total" %}</strong>
                                            <strong class="text-uppercase">
                                            {{ panier.get_cout_total|floatformat:0 }}</strong>
                                        </li>

                                        {% if panier.coupon.discount %}
                                            <li class="d-flex justify-content-between py-3 border-bottom">
                                                <strong class="text-muted">{% trans "Discount" %}</strong>
                                                <strong>{{ panier.coupon.discount|floatformat:0 }}%</strong>
                                            </li>

                                            <li class="d-flex justify-content-between py-3 border-bottom">
                                                <strong class="text-muted">{% trans "Discount cout" %}</strong>
                                                <strong class="text-uppercase">-{{ panier.get_discount|floatformat:0 }}</strong>
                                            </li>
                                        {% endif %}

                                        {% if panier.get_cout_total_apres_discount %}
                                            <li class="d-flex justify-content-between py-2 border-bottom text-uppercase font-weight-bold">
                                                <strong>{% trans "Total" %}</strong>
                                                <h5 class="font-weight-bold text-uppercase text-danger">
                                                {{ panier.get_cout_total_apres_discount|floatformat:0|safe }} frcfa</h5>
                                            </li>
                                        {% endif %}
                                    </ul>

                                    <div class="d-flex justify-content-around">
                                        <a type="submit" href="{% url "shop:liste_produit" %}" class="btn btn-md btn-light bg-white rounded-pill py-2 shadow-none">
                                        {% trans "Continue shopping" %}</a>

                                        <a type="submit" href="{% url "commandes:commander" %}" class="btn btn-md btn-success rounded-pill py-2 shadow-none">
                                        {% trans "Procced to checkout" %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <section class="text-center p-5 empty-cart">
                        <div class="container">
                            <div class="empty-cart-content">
                                <i class="icon-handbag icons d-inline-block"></i>
                                <h3 class="font-weight-bold">{% trans "Your cart is empty" %} !</h3>
                                <h4 text-capitalize>
                                    {% trans "Back to" %} <a href="/"
                                    class="font-weight-normal">{% trans "home page" %}</a>
                                </h4>
                            </div>
                        </div>
                    </section>
                {% endif %}

                <!--Grid row produit recommandé -->
                {% if recommande_produit %}
                    <div class="row wow fadeIn">
                        <h3 class="text-center font-weight-bold">
                            {% trans "People who bought this also bought" %}
                        </h3>

                        {% for p in recommande_produit %}
                        <div class="col-lg-4 col-md-6 mb-4 view zoom overlay">
                            <a href="{{ p.get_absolute_url }}" class="stretched-link" title="">
                                <img src="{% if p.image %}
                                {{ p.image.url }} {% else %}
                                {% static "img/noimage.png" %}
                                {% endif %}" alt="" class="img-fluid">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock content %}
