{% extends "shop/base.html" %}
{% load i18n static %}

{% block carousel %}{% endblock carousel %}

{% block content %}
    <!-- Main product Layout View -->
    <main class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10">
                    <h1 class="my-3 h2 text-center">
                        {% trans "Your payment was successful." %}</h1>
                    </h1>
                    <p class="lead text-center">
                        {% trans "Your payment has been processed successfully." %}</p>
                    </p>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
