{% extends "shop/base.html" %}
{% load i18n static %}

{% block carousel %}{% endblock carousel %}

{% block content %}
    <style>
        /**
         * The CSS shown here will not be introduced in the Quickstart guide, but shows
         * how you can use CSS to style your Element's container.
         */

        .StripeElement {
            box-sizing: border-box;
            height: 40px;
            padding: 10px 12px;

            color: #32325d;
            background-color: white;
            border: 1px solid transparent;
            border-radius: 4px;

            box-shadow: 0 1px 3px 0 #e6ebf1;
            -webkit-transition: box-shadow 150ms ease;
            transition: box-shadow 150ms ease;
        }

        .StripeElement--focus {
            box-shadow: 0 1px 3px 0 #cfd7df;
        }

        .StripeElement--invalid {
            border-color: #fa755a;
        }

        .StripeElement--webkit-autofill {
            background-color: #fefde5 !important;
        }
    </style>
    <!-- Main product Layout View -->
    <main>
        <div class="container">
            <script src="https://js.stripe.com/v3/"></script>
            <!-- Bootstrap inspired Braintree Hosted Fields example -->
            <h2 class="mt-4 h4 text-center text-uppercase">{% trans "payment information" %}</h2>
            <div class="row justify-content-center">
                <div class="col-10 mb-4 justify-content-center">
                    <hr class="mb-4">
                    <form action="/charge" method="post" id="payment-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6 col-sm-6 mb-3">
                                <label for="name">{% trans "Credit card name" %}</label>
                                <input type="text" name="name" class="form-control shadow-none" id="name"
                                required>
                                <small class="text-muted">
                                {% trans "Full name as displayed on card" %}</small>
                            </div>

                            <div class="col-6 col-sm-6 mb-3">
                                <label for="email">{% trans "Email" %}</label>
                                <input type="email" name="email" class="form-control shadow-none" id="email"
                                    placeholder="you@example.com" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-12">
                                <label for="card-element">{% trans "Credit or debit card" %}</label>
                                <div id="card-element" class="form-control border shadow-none">
                                    <!-- A Stripe Element will be inserted here. -->
                                </div>
                                <!-- Used to display form errors. -->
                                <small id="card-errors" class="my-2 text-danger" role="alert"></small>
                            </div>
                        </div>

                        <div class="text-center my-3">
                            <button class="btn btn-md btn-primary shadow-sm border-0" type="submit">
                                {% trans " pay with" %}
                                <span id="card-brand">{% trans "card" %}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            // Create a Stripe client.
            var stripe = Stripe('pk_test_MM8om54M1hyKMVHpU1pFojFd00lIvQEoUV');

            // Create an instance of Elements.
            var elements = stripe.elements();

            // Custom styling can be passed to options when creating an Element.
            // (Note that this demo uses a wider set of styles than the guide below.)
            var style = {
                base: {
                    color: '#32325d',
                    fontFamily: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif',
                    fontSmoothing: 'antialiased',
                    fontSize: '1rem',
                    '::placeholder': {
                      color: '#aab7c4'
                    },
                },
                invalid: {
                    color: '#fa755a',
                    iconColor: '#fa755a'
                }
            };

            // Create an instance of the iban Element.
            var card = elements.create('card', {
                style: style
            });

            // Add an instance of the iban Element into the `iban-element` <div>.
            card.mount('#card-element');

            card.addEventListener('change', function(event) {
                // Handle real-time validation errors from the iban Element.
                var displayError = document.getElementById('card-errors');
                if (event.error) {
                    displayError.textContent = event.error.message;
                } else {
                    displayError.textContent = '';
                }
            });


            var myPostalCodeField = document.querySelector('input[name="my-postal-code"]');
            myPostalCodeField.addEventListener('change', function(event) {
                card.update({value: {postalCode: event.target.value}});
            });

            // Handle form submission.
            var form = document.getElementById('payment-form');
            form.addEventListener('submit', function(event) {
                event.preventDefault();
                stripe.createToken(card).then(function(result) {
                    if (result.error) {
                        // Inform the customer that there was an error.
                        var errorElement = document.getElementById('card-errors');
                        errorElement.textContent = result.error.message;
                    } else {
                        // Send the token to your server
                        stripeTokenHandler(result.source);
                    }
                });
            });

            // Submit the form with the token ID.
            function stripeTokenHandler(token) {
                // Insert the token ID into the form so it gets submitted to the server
                var form = document.getElementById('payment-form');
                var hiddenInput = document.createElement('input');
                hiddenInput.setAttribute('type', 'hidden');
                hiddenInput.setAttribute('name', 'stripeToken');
                hiddenInput.setAttribute('value', token.id);
                form.appendChild(hiddenInput);

                // Submit the form
                form.submit();
            }

            window.addEventListener('resize', function(event) {
                if (window.innerWidth <= 320)  {
                    card.update({ style: {base: {fontSize: '1rem'}}});
                } else {
                    card.update({style: { base: {fontSize: '16px'}}});
                }
            });

            var previousBrand;
            card.on('change', function(event) {
                if (event.brand !== previousBrand && event.brand === 'mastercard') {
                    card.update({style: {base: {color: 'orange'}}});
                    previousBrand = event.brand;
                }
            });
        </script>
    </main>
{% endblock content %}
